@import 'breakpoint';
@import './variables';
@import './mixins';

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, Sans-serif;
}

h2, p {
  margin: 0;
  padding: rem(20px) rem(40px);
}

section {
  display: inline-block;
  width: 100%;
  height: auto;
  min-height: rem(200px);
  color: $main-font-color;

  @include breakpoint($tablet) {
    width: 50%;
    min-height: 100%;
    vertical-align: top;
  }
}

.hidden {
  display: none;
}

#main {
  img {
    width: 80%;
    display: block;
    margin: rem(20px) auto;
  }

  .interaction-1 &{
    @include gradient($gradient-1...);
  }

  .interaction-2 &{
    @include gradient($gradient-2...);
  }

  .interaction-3 &{
    @include gradient($gradient-3...);
  }

  .interaction-4 &{
    @include gradient($gradient-4...);
  }

  .interaction-5 &{
    @include gradient($gradient-5...);
  }
}

#sidebar {
  .interaction-1 &{
    @include gradient($gradient-2...);
  }

  .interaction-2 &{
    @include gradient($gradient-3...);
  }

  .interaction-3 &{
    @include gradient($gradient-4...);
  }

  .interaction-4 &{
    @include gradient($gradient-5...);
  }

  .interaction-5 &{
    @include gradient($gradient-1...);
  }
}

@import 'components/interaction/interaction';
