@function rem($px) {
  @return ($px / 16px) * 1rem;
}

@mixin gradient($first, $second) {
  background-color: $second;
  background-image: -webkit-gradient(linear, left top, left bottom, from($first), to($second));
  background-image: -webkit-linear-gradient(top, $first, $second);
  background-image: -moz-linear-gradient(top, $first, $second);
  background-image: -ms-linear-gradient(top, $first, $second);
  background-image: -o-linear-gradient(top, $first, $second);
  background-image: linear-gradient(top, $first, $second);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='$first', EndColorStr='$second');
}
