$tablet: 1024px;

$main-font-color: #FFF;
$main-button-color: #FFA500;

$color-1: #FF5547;
$color-2: #FFE847;
$color-3: #47FF4D;
$color-4: #474DFF;
$color-5: #FF47F9;

$gradient-1: $color-1 $color-2;
$gradient-2: $color-2 $color-3;
$gradient-3: $color-3 $color-4;
$gradient-4: $color-4 $color-5;
$gradient-5: $color-5 $color-1;
