@import './mixins';
@import './variables';

interaction {
  display: block;
  margin: rem(30px);

  button {
    background-color: $main-button-color;
    color: $main-font-color;
    outline: none;
    border: none;
    width: 100%;
    padding: rem(20px);
    font-size: rem(20px);
    font-weight: bold;

    &:hover {
      background-color: $main-button-color / 1.2;
    }

    &:active {
      background-color: $main-button-color / 1.5;
    }
  }
}
