<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic Document</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="app/index.css">
  </head>
  <body data-ng-class="'interaction-' + interactionCount">
    <script type="text/ng-template" id="interactionDirective">
      <div>
        <button data-ng-click="doInteraction()">
          <span data-ng-transclude></span>
          ({{ area }}px<sup>2</sup>)
        </button>
      </div>
    </script>

    <section id="main">
      <img
        src="http://dsx.weather.com/util/image/w/68a62f4e-122e-4c72-91b2-ec9f5024e031.jpg?v=at&w=320&h=180&api=7db9fe61-7414-47b5-9871-e17d87b8b6a0"
        srcset="http://dsx.weather.com/util/image/w/68a62f4e-122e-4c72-91b2-ec9f5024e031.jpg?api=7db9fe61-7414-47b5-9871-e17d87b8b6a0&h=598&w=640&v=at 2x">
      <h2>Bacon ipsum dolor amet short loin meatloaf spare ribs sausage.</h2>
      <p>Bresaola ball tip meatloaf, jerky brisket pancetta picanha pig biltong pork belly. Leberkas alcatra sausage venison shoulder shank tri-tip landjaeger porchetta. Ham bresaola short ribs chuck. Ball tip pork chop frankfurter doner turkey, porchetta pork belly.</p>

    </section><section id="sidebar">
      <h2>Shankle sausage pancetta</h2>
      <p>Short loin pork chop turducken ham hock swine ground round bresaola venison pig frankfurter cow meatloaf t-bone picanha brisket. Chicken alcatra chuck, andouille pork belly jowl ribeye.</p>
    </section>

    <interaction interaction-limit="5">Change Colors!</interaction>

    <section id="instruction" class="hidden">
      <h2>Instructions</h2>
      <ol>
        <li>
          Using RWD (Responsive Web Design) techniques and the compass breakpoint mixin,
          show the sections vertically (one above the other) if the display is a handheld or tablet device,
          but side-by-side with equal widths for desktop user agents.
        </li>
        <li>
          Using SASS write a cross browser gradient mixin and use it to apply different gradients to each section.
        </li>
        <li>
          Use http://dsx.weather.com/util/image/w/68a62f4e-122e-4c72-91b2-ec9f5024e031.jpg?api=7db9fe61-7414-47b5-9871-e17d87b8b6a0&h=598&w=640&v=at
          as the image if the device viewing the page is a Retina display.
        </li>
        <li>
          Set this page up as an Angular app. Manually initialize the app before the closing body tag.
        </li>
        <li>
          Create an angular directive with an interactive element that makes a simple change to the the presentation. For example, click a button and change the background color. Load the directive template from $templateCache. Feel free to be creative or even silly.
        </li>
        <li>
          * Bonus question: Create a factory and use it in your directive to calculate the area of the directive element. Display the result of the calculation.
        </li>
      </ol>
    </section>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="app/index.module.js"></script>

    <script>
      angular.bootstrap(window.document.documentElement, ['test']);
    </script>
  </body>
</html>
